/* Variabler der indeholder farvekoder. Brug dem i stedet for at skrive farverne ind direkte */
:root {
    --background-color: #FFFCFA;
    --button-color: #80DDA9;
    --text-color-1: #FFFFFF;
    --text-color-2: #000000;
    --text-color-3: #29605B;
    --text-color-4: #4C3140;
    --text-color-5: #835971;
    --text-color-6: #80DDA9;
    --box-color-1: #4C3140;
    --box-color-2: #002532D9;
    --box-color-3: #26455057;
    --box-color-4: #B5BEC0;
    --box-color-5: #AF93A3;
    --footer-color: #002532;
    --black: #000000;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

h1 {
    font-family:  "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 110%;
    color: var(--text-color-2);
    text-align: center;
    padding: 0 10vw;

    b {
        color: var(--text-color-5);
        font-weight: 800;
    }
}

h2 {
    font-family: "adelle", "ltc-bodoni-175", Georgia, serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 110%;
    color: var(--text-color-2);
    text-align: center;
    padding: 0 10vw;
}

h3 {
    font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 200%;
    margin-top: 0;
    color: var(--text-color-2);
    text-align: center;
    padding: 0 10vw;
}

p {
    font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 165%;
    margin-top: 0;
    padding: 0px 10%;
    color: var(--text-color-2);

}



.pcDivider {
    display: none;
}

.mobileDivider {
    display: inline;
}


/*        mobil menu styling      */

#burgerKnap {
    cursor: pointer;
}

.header__menu {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4C3140;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.overlay-content {
  width: 100%;
  text-align: center;
  margin: 0;
}

.header__menu a {
    padding: 0px 60px;
    margin: 90px 0px;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-family:  "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 900;
}

.header__menu a:hover {
    text-decoration: underline;
}

.header__menu .closebtn {
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 0;
    font-size: 60px;
    background-color: #4C3140;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/* Wrapper til hele siden */
.flexWrapper {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    box-sizing: border-box;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    min-height: 49px;
    height: auto;
    padding: 16px 8px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--black);
    background-color: var(--background-color);
    z-index: 2;
}

.header__logo {
    position: relative;
    left: 1vw;
    
}

.header__nav {
    display: none;
}

.header__signup {
    display: none;
}

.frontHeader {
    background-image: url(billeder/baggrund/baggrundsbillede.webp);
    background-repeat: repeat;
}


footer {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    'footer_branding'
    'footer_some';
    width: 100%;
    min-height: 249px;
    height: auto;
    padding: 32px 30px 9px;
    background-color: var(--footer-color);

    p {
        color: var(--text-color-1);
        text-shadow: 1px 1px 1px var(--black);
        font-style: italic;
        font-weight: 250;
        line-height: 1.3rem;
    }
}

/* En kasse til  logoet under logoet */
.footer__branding {
    display: block;
    width: fit-content;
    margin: 1em auto 2em;
}

/* En kasse til social medie ikoner */
.footer__some {
    width: 100%;
    height: 100%;
    margin: 0px;
    text-align: center;

    i {
        margin: 0em;
        padding: 0px;
        color: var(--text-color-1);
    }

    a {
        margin: 0em 2em 1em;
        text-decoration: none;
    }
}


.frontHeader {
    overflow: hidden;
}

/* En farvet cirkel til tekst */
.contentCircle {
    box-sizing: border-box;
    width: 88%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    margin: 30px 0px 30px -37px;
    background-color: var(--box-color-1);

    h1 {
        text-align: left;
        padding: 15% 15% 30px;
        font-size: 2rem;
        font-weight: 300;
        color: var(--text-color-1);
        line-height: normal;

        b {
            color: var(--text-color-1);
            font-weight: 800;
        }
    }
    
}

.contentCircle__logo {
    position: relative;
    top: 15%;
    left: 15%;

    h3 {
        text-align: left;
        padding: 0;
        font-size: 1.5rem;
        color: var(--text-color-1);
        font-weight: 100;
        line-height: normal;
        margin: 0;
        letter-spacing: 0.1em;
    }

    p {
        padding: 0;
        color: var(--text-color-1);
        line-height: normal;
        font-weight: 350;
        font-size: 0.8rem;
        letter-spacing: 0.1em;
    }
}

.contentCircle__logo_wide {
    display: none;
}


/* CSS til videoafspilleren, så den er responsiv */

.videoContainer {
    grid-area: video;
    align-self: center;
    display: flex;
    justify-content: center;

    iframe {
        aspect-ratio: 9 / 16;
        height: 500px;
        width: auto;
    }
}

.signup {
    grid-area: signup;
    width: 50%;
    border: none;
    border-radius: 21px;
    padding: 16px 26px;
    margin: 20px 20% 20px;
    background-color: var(--button-color);
    font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-color-4);
    text-decoration: none;
}

.signup :hover {
    text-decoration: underline;
}


.contentContainer {
    display: grid;
    grid-template-areas: 
    'video'
    'text'
    'signup'
    'profile';
}

.callToAction {
    grid-area: text;
}


/* En farvet kasse til vores billeder og citater */
.profileBox {
    grid-area: profile;
    display: grid;
    grid-template-areas: 
    'text text'
    '1fr 1fr';
    align-self: center;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: var(--black);
    box-sizing: border-box;
    width: calc(100% - 60px);
    margin: 0px 30px 38px;
    padding: 37px;

    h2 {
        grid-area: text;
    }
}

/* En kasse til billeder og citater */
.profileBox__profile {
    width: 120px;
    margin: 10px auto 11px auto;
    padding: 0px;

    p {
        padding-left: 0px;
        padding-right: 0px;
        font-style: italic;
        font-weight: 250;
        line-height: 1.2em;
        font-size: 1rem;
    }

    h3 {
        text-align: left;
        margin-bottom: 5px;
        padding: 0;
        font-size: 1.1rem;
        line-height: 1em;
    }
}

/* Kode til de runde billeder */
.profileBox__portrait {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    overflow: hidden;
}


.activityBox {
    box-sizing: border-box;
    background-color: var(--box-color-3);
    width: 100%;
    min-height: 100px;
    padding: 40px 10%;

    h2 {
        font-size: 1.5rem;
    }
}

.signupBox {
    box-sizing: border-box;
    background-color: var(--box-color-2);
    width: 100%;
    min-height: 100px;
    padding: 40px 20%;
    color: var(--text-color-1);

    h2 {
        color: var(--text-color-1);
        padding: 0;
    }
}


form {
    font-size: 1.2rem;
    font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
}


input[type=text] {
    margin-bottom: 30px;
    width: 100%;
    color: var(--text-color-2);
}

input[type=email] {
    margin-bottom: 30px;
    width: 100%;
    color: var(--text-color-2);
}

input[type=radio] {
    margin-bottom: 20px;
}

input[type=submit] {
    width: 40%;
    border: none;
    border-radius: 21px;
    padding: 16px 26px;
    margin: 20px 30% 20px;
    background-color: var(--button-color);
    font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-color-4);
    text-decoration: none;
    cursor: pointer;
}


.baseGrid {
    display: grid;
    grid-template-areas: 
    '1fr'
    '1fr';
}

.activityMap {
    max-width: 100%;
    max-height: 800px;
    aspect-ratio: 1 / 1;
}

.mapDiv {
    padding: 15% 10%;
    background-color: var(--box-color-2);

    p {
        color: var(--text-color-1);
        padding: 0;
    }

    h2 {
        color: var(--text-color-1);
        padding: 0;

        b {
            color: var(--text-color-6);
        }
    }

    h3 {
        color: var(--text-color-1);
        padding: 0;
    }
}


#eventList {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.eventButtonContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.eventButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    min-width: 318px;
    width: 80%;
    height: 4em;
    padding: 5px;
    border-radius: 4em;
    box-sizing: border-box;
    border: var(--box-color-2) solid 1px;
    background-color: var(--background-color);
    font-size: 1.2rem;
    color: var(--text-color-3);

    .eventButton__img {
        height: 100%;
        width: auto;
        border-radius: 50%;
        padding: 0;
        margin-right: 2%;
        border: var(--box-color-2) solid 1px;;
    }
        
}

.eventText {
    grid-area: activity;
}

.eventDiv1 {
    display: grid;
    grid-template-areas: 
    'img'
    'activity';
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--box-color-4);

    h3 {
        text-align: left;
        margin-bottom: 0px;
    }

    p {
        line-height: normal;
    }
}

.eventDiv2 {
    display: grid;
    grid-template-areas: 
    'img'
    'activity';
    margin:  0;
    padding-top: 20px;
    padding-bottom: 20px;

    h3 {
        text-align: left;
        margin-bottom: 0px;
    }

    p {
        line-height: normal;
    }
}

.eventImg {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    align-self: center;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}

#eventDetail > * {
    ul{
        margin-left: 10%;
    }

    li {
        text-indent: -12%;
    }
}

#carousel {
    width: 100%;
    margin-bottom: 20px;
    
}

/*Accordion (Svend)*/ 
#accordion {
    margin: 20px 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
        padding: 1rem 0px;
    }

    li {
        font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 165%;
        margin-top: 0;
        padding: 0px 10%;
        color: var(--text-color-2);
    }
    
}

.accordion__section {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    cursor: pointer;
    padding: 30px 0px;
    width: 100%;
    border-style: solid;
    border-width: 1px 0px 1px 0px ;
    outline: none;
    transition: 0.5s;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 150%;
}

.accordion__section:after {
    content: '\25BC';
    float: right;
    font-size: 1.5rem;
    padding: 0px 10% 0px 5px;
    color: var(--text-color-2);
}

.expanded, .accordion__section:hover {
  background-color: var(--box-color-4);
  cursor: pointer;
}

.expanded:after {
    content: "\25B2";
    font-size: 1.5rem;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
    padding: 0px 10%;
  transition: max-height 0.3s ease-in-out;
}

#carousel_billede {
    width: 100%;
    align-self: center;
    height: 600px;
    overflow: hidden;
}

.carousel_billede {
    display: none;
    width: auto;
    height: 100%;
    margin: auto;
}

#carousel_prikker {
    margin-top: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    
}

.carousel_prik {
    cursor: pointer;
    background-color: #a9a9a9;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 2px;
    transition: background-color 0.6s ease;
}

.active, .carousel_prik:hover {
    background-color:#5b5b5b;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (min-width: 768px) {

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    header {
        min-height: 114px;
        align-items: center;
        justify-content: flex-start;
    }

    .header__menu {
        display: none;
    }

    #burgerKnap {
        display: none;
    }

    .header__nav {
        display: block;
        position: absolute;
        margin-left: 120px;
    }

    .header__nav > * {
        font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        margin: 0 4vw 0 0;
        color: var(--black);
    }

    .header__nav a {
        text-decoration: none;
        
    }

    .header__nav a:hover {
        text-decoration: underline;
    }

    .header__signup {
        display: inline;
        position: fixed;
        right: 60px;
        top: 26px;
        padding: 16px 26px;
        border-radius: 21px;
        background-color: var(--button-color);
        border: none;
        font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--text-color-4);
        text-decoration: none;
        
    }

    footer {
        grid-template-areas: 
        'footer_branding footer_some';
        min-height: 220px;
    }

    .footer__branding {
        margin-left: 0px;
        margin-top: 170px;
    }

    .footer__some {
        text-align: right;
        height: 50px;
        width: 100%;
        margin-right: 10px;
        margin-top: 190px;
        margin-bottom: 0;
    }

    .contentCircle {
        margin: -99px 10%;
        max-width: 844px;
        max-height: 844px;
        min-width: 350px;
        min-height: 350px;

        h1 {
            padding-top: 20%;
            font-size: 3.5rem;
        }
        
    }

    .contentCircle__logo {
        display: none;
    }

    .contentCircle__logo_wide {
        display: inline;
        position: relative;
        top: 20%;
        left: 15%;

        h3 {
            text-align: left;
            padding: 0;
            font-size: 1.5rem;
            color: var(--text-color-1);
            font-weight: 100;
            line-height: normal;
            margin: 0;
            letter-spacing: 0.1em;
        }

        p {
            padding: 0;
            color: var(--text-color-1);
            line-height: normal;
            font-weight: 350;
            font-size: 0.8rem;
            letter-spacing: 0.1em;
        }
    }

    .contentContainer {
        grid-template-areas: 
        'text text video'
        'profile profile video';
    }

    .callToAction {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        margin: 0 1% 20px 10%;
        padding: 0px;

        h2 {
            text-align: left;
            padding: 0;
            margin: 0;
        }

        p {
            padding: 0;
        }
    }

    .profileBox {
        grid-template-areas: 
        'text'
        '1fr 1fr';
        background-color: var(--box-color-5);
        border: none;
        margin-left: 10%;
        padding: 5% 5%;
        grid-column-gap: 2%;
        width: auto;

        h2 {
            padding: 20% 0;
            font-size: 1.5rem;
        }
    }

    .profileBox__profile {
        max-width: 160px;
        width: 100%;
        min-width: 60px;

        p {
            color: var(--text-color-1);
        }

        h3 {
            color: var(--text-color-1);
        }
    }

    .videoContainer {
        iframe {
        aspect-ratio: 9 / 16;
        height: 600px;
        width: auto;
        }
    }

    .signup {
        display: none;
    }

    .eventButton {
        max-width: 600px;
        margin-left: 0;
    }

    .eventButtonContainer {
        align-items: flex-start;
        margin-top: 20px;
        margin-left: 0;
        padding-left: 0;
        width: 40vw;
    }

    .eventDiv1 {
        grid-template-areas: 
        'img activity';
    }

    .eventDiv2 {
        grid-template-areas: 
        'img activity';
    }

    .baseGrid {
        grid-template-areas: 
        '1fr 1fr';

        h1 {
            padding-top: 10%;
        }
    }

    .frontHeader {
        height: 630px;
        margin-bottom: 100px;
        background-image: url(billeder/baggrund/baggrundsbillede.webp);
        background-repeat: repeat;
    }

    .pcDivider {
        display: block;
        margin: 0 5%;
    }

    .mobileDivider {
        display: none;
    }

    #eventList {
        height: 400px;
        padding: 0 15% 10px 15%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .eventButton {
            width: 40%;
        }
    }

    .eventImg {
        width: 30vw;
        max-width: 800px;
        height: 100%;
        margin-left: 5vw;
        overflow-x: hidden;

        img {
            max-height: 100%;
            width: auto;
        }
    }

    .eventText {
        width: 50vw;
        margin-top: 10px;

        h3 {
            padding-left: 10px;
        }

        p {
            padding-left: 10px;
        }
    }

    #eventDetail > * {
        ul{
            margin-left: 0;
        }

        li {
            text-indent: 0;
        }
    }

    #carousel {
        margin-top: 20px;
        width: 40vw;
    }

    .mapDiv {
        margin: 10% 10% 10% 10%;

        .signup {
            display: inline;
        }
    }
    
    #accordion {
        margin-left: 10%;
    }

    .accordion__section {
        font-size: 1.5rem;
    }

    .signupBox {
        width: 50vw;
    }

    .activityBox {
        width: 50vw;
        padding-left: 10vw;

        p {
            padding-left: 0;
            margin-bottom: 40px;
        }
        
        h2 {
            text-align: left;
            padding-left: 0;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .header__nav {
        margin-left: 9vw;
    }

    .profileBox {
        grid-template-areas: 
        'text 1fr 1fr';
    }
    
}