/* Variabler der indeholder farvekoder. Brug dem i stedet for at skrive farverne ind direkte */
:root {
    --background-color: #FFFCFA;
    --button-color: #80DDA9;
    --text-color-1: #FFFFFF;
    --box-color-1: #4C3140;
    --box-color-2: #3D2733;
    --black: #000000;
}

body {
    margin: 0;
    
}

h1 {
    font-family:  "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 110%;
    color: var(--black);
    text-align: center;
}

h2 {
    font-family: "adelle", "ltc-bodoni-175", Georgia, serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 110%;
    color: var(--black);
    text-align: center;

}

h3 {
    font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 200%;
    margin-top: 0;
    color: var(--black);
    text-align: center;

}

p {
    font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 165%;
    margin-top: 0;
    color: var(--black);

}



/* Wrapper til hele siden */
.flexWrapper {
    display: flex;
    flex-direction: column;
    margin: 0px;
}



header {
    box-sizing: border-box;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    min-height: 49px;
    height: auto;
    padding: 16px 8px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--black);
    background-color: var(--background-color);
}

.header__menu {
    position: relative;
    right: 10px;
}

.header__logo {
    position: relative;
    left: 10px;
    
}

.header__nav {
    display: none;
}

.header__tilmeld {
    display: none;
}


footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 249px;
    height: auto;
    padding: 32px 30px 9px;
    background-color: var(--box-color-1);

    p {
        color: var(--text-color-1);
        text-shadow: 1px 1px 1px var(--black);
        font-style: italic;
        font-weight: 250;
        line-height: 1.3rem;
    }
}

/* En kasse til  logoet under logoet */
.footer__branding {
    display: block;
    width: fit-content;
    margin: 1em auto 2em;
}

/* En kasse til social medie ikoner */
.footer__some {
    width: 100%;
    height: 100%;
    margin: 0px;
    text-align: center;

    i {
        margin: 0em auto 1em;
        padding: 0px 0.2em;
        color: var(--text-color-1);
    }

}


/* En farvet cirkel til tekst */
.contentCircle {
    align-self: left;
    box-sizing: border-box;
    width: 88%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    margin: 30px auto 30px -37px;
    padding: 22% 45px 37px;
    background-color: var(--box-color-1);

    h1 {
        font-size: 2rem;
        font-weight: 300;
        color: var(--text-color-1);
        text-shadow: 1px 1px 1px var(--black);
    }
    
    h3 {
        font-size: 1.2rem;
        color: var(--text-color-1);
        text-shadow: 1px 1px 1px var(--black);
        font-weight: 200;
        line-height: 1.5em;
    }
}

/* En farvet kasse til vores billeder og citater */
.profileBox {
    display: grid;
    grid-template-areas: 
    '2fr'
    '1fr 1fr'
    '1fr 1fr';
    align-self: center;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: var(--black);
    box-sizing: border-box;
    width: calc(100% - 60px);
    margin: 0px 30px 38px;
    padding: 37px;
}

/* En kasse til billeder og citater */
.profileBox__profile {
    width: 120px;
    margin: 10px auto 11px auto;
    padding: 0px;

    p {
        font-style: italic;
        font-weight: 250;
        line-height: 1.3rem;
    }
}

/* Kode til de runde billeder */
.profileBox__portrait {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
}



@media only screen and (min-width: 768px) {
    header {
        min-height: 114px;
        align-items: center;
        justify-content: flex-start;
    }

    .header__menu {
        display: none;
    }

    .header__nav {
        display: inline;
    }

    .header__nav > * {
        font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        margin-left: 1.2em;
        color: var(--black);
    }

    .header__nav a {
        text-decoration: none;
    }

    .header__nav a:hover {
        text-decoration: underline;
    }

    .header__tilmeld {
        display: inline;
        position: fixed;
        right: 60px;
        border-radius: 21px;
        background-color: var(--button-color);
        font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        padding: 16px 26px;
        margin-top: 0;
        color: var(--text-color-2);
        text-shadow: 1px 1px 1px var(--black);
    }

    footer {
        min-height: 220px;
    }
}