/* Variabler der indeholder farvekoder. Brug dem i stedet for at skrive farverne ind direkte */
:root {
    --background-color: #FFFCFA;
    --text-color-1: #042A39;
    --text-color-2: #FFFFFF;
    --box-color-1: #4C3140;
    --box-color-2: #3D2733;
    --footer-color: #052A39;
    --black: #000000;
}

body {
    margin: 0;
    
}

h1 {
    font-family:  "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 110%;
    color: var(--text-color-1);
    text-align: center;
}

h2 {
    font-family: "adelle", "ltc-bodoni-175", Georgia, serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 110%;
    color: var(--text-color-1);
    text-align: center;

}

h3 {
    font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 200%;
    margin-top: 0;
    color: var(--text-color-1);
    text-align: center;

}

p {
    font-family: "adelle-sans", "roboto", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 165%;
    margin-top: 0;
    color: var(--text-color-1);

}



/* Wrapper til hele siden */
.flexWrapper {
    display: flex;
    flex-direction: column;
    margin: 0px;
}



header {
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    padding: 16px 8px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--black);
    background-color: var(--background-color);
}



footer {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    'brand brand brand brand some';
    column-gap: 2em;
    width: 100%;
    min-height: 249px;
    height: auto;
    padding: 32px 30px 9px;
    background-color: var(--footer-color);

    p {
        color: var(--text-color-2);
        text-shadow: 1px 1px 1px var(--black);
        font-style: italic;
        font-weight: 250;
        line-height: 1.3rem;
    }
}

/* En kasse til både logoet og teksten under logoet */
.footer__branding {
    grid-area: brand;
    width: 100%;
    margin: 0px;
    overflow: hidden;

}

/* CSS til logoet */
.footer__logo {
    width: 100%;
    height: auto;
}

/* En kasse til social medie ikoner */
.footer__some {
    grid-area: some;
    width: 100%;
    height: 100%;
    margin: 0px;
    text-align: center;

    i {
        margin-bottom: 1em;
        color: var(--text-color-2);
    }

}


/* En farvet kasse til vores indhold */
.contentBox {
    align-self: center;
    box-sizing: border-box;
    width: calc(100% - 60px);
    margin: 38px 30px 0px;
    padding: 30px 30px;
    background-color: var(--box-color-1);

    h3 {
        color: var(--text-color-2);
        text-shadow: 1px 1px 1px var(--black);
    }
    
    p {
        color: var(--text-color-2);
        text-shadow: 1px 1px 1px var(--black);
    }
}

/* En farvet kasse til vores billeder og citater */
.profileBox {
    display: grid;
    grid-template-areas: 
    '1fr 1fr'
    '1fr 1fr';
    align-self: center;
    box-sizing: border-box;
    width: calc(100% - 60px);
    margin: 0px 30px 38px;
    padding: 30px 30px;
    background-color: var(--box-color-2);

    h3 {
        color: var(--text-color-2);
        text-shadow: 1px 1px 1px var(--black);
    }
    
    p {
        color: var(--text-color-2);
        text-shadow: 1px 1px 1px var(--black);
    }
}

/* En kasse til billeder og citater */
.profileBox__profile {
    width: 120px;
    margin: 10px auto 11px auto;
    padding: 0px;

    p {
        font-style: italic;
        font-weight: 250;
        line-height: 1.3rem;
    }
}

/* Kode til de runde billeder */
.profileBox__portrait {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
}



@media only screen and (min-width: 768px) {
    header {
        height: 114px;

    }
}